@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
:root{
    --violetBack: hsl(257, 40%, 49%);
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
body{
    background-color: var(--violetBack);
    background-image: url(../img/bg-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}
.contenedor{
    width: 90%;
    height: 100vw;
    margin: 0 auto;
   
}
.cabezera img{
    width: 10rem;
    margin-top: 2rem;
}
.contenedor.info{
    margin-top: 3rem;
    width: 90%;
    

}
.info img.mockpus{
    margin-top: 2em;
    width: 100%;
}
.info .titulo{
    font-size: 0.8rem;
    text-align: center;
    margin-top: 2rem;
 
}
.titulo p{
    word-spacing:size;
    margin-top: 1em;
}


button{
    margin-top: 1.5em;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    color: var(--violetBack);
    padding: 1em 6em;
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    box-shadow: 2px 2px 8px 1px rgb(34, 34, 34);
}
button a{

    text-decoration: none;
    color: var(--violetBack);
}